@use "../base/variables" as v;

.m-ntf-preview-card {
  width: 20.4375rem;
  padding: 1.5rem;

  border-radius: 15px;
  background-color: v.$very-dark-blue-card-bg;

  /* ========== header ========== */
  &__header {
    margin-bottom: 0.75rem;
  }
  &__img-container {
    margin-bottom: 1.5rem;
  }
  &__img-card {
    border-radius: 8px;
  }
  &__title {
    color: v.$pure-white;
    margin-bottom: 0;

    font-size: 1.375rem;
    text-transform: capitalize;
    line-height: normal;
  }
  &__description {
    margin-bottom: 1rem;
  }
  &__txt {
    font-size: 1.125rem;
    line-height: 1.625rem;
    color: v.$soft-blue;
  }

  /* ========== crypto details ========== */
  &__crypto-details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  &__detail {
    display: flex;
    align-items: center;
  }
  &__market-cap-img {
    width: 0.6875rem;
    height: 1.125rem;
    margin-right: 0.405rem;
  }
  &__market-cap-txt {
    font-size: 0.9375rem;
    line-height: normal;
    color: v.$cyan;
  }
  &__price-change-img {
    width: 1rem;
    height: 1rem;
    margin-right: 0.4813rem;
  }
  &__price-change-txt {
    color: v.$soft-blue;
  }

  /* ========== footer ========== */
  &__data-user-container {
    display: flex;
    align-items: center;
    padding-top: 1rem;
    border-top: 1px solid v.$very-dark-blue-line;
  }
  &__img-user {
    width: 2.0625rem;
    margin-right: 1rem;
    border-radius: 50%;

    border: 1px solid v.$pure-white;
  }
  &__data-user-txt {
    height: fit-content;

    font-size: 0.9375rem;
    line-height: normal;
    color: v.$soft-blue;
  }
  &__data-user-name {
    color: v.$pure-white;
  }
}
